# Core
[submodule "janus/vim/core/pathogen"]
	path = janus/vim/core/pathogen
	url = https://github.com/tpope/vim-pathogen.git

# Colors
[submodule "janus/vim/colors/sampler-pack"]
	path = janus/vim/colors/sampler-pack
	url = https://github.com/vim-scripts/Colour-Sampler-Pack.git
[submodule "janus/vim/colors/solarized"]
	path = janus/vim/colors/solarized
	url = https://github.com/altercation/vim-colors-solarized.git
[submodule "janus/vim/colors/irblack"]
	path = janus/vim/colors/irblack
	url = https://github.com/twerth/ir_black.git
[submodule "janus/vim/colors/vividchalk"]
	path = janus/vim/colors/vividchalk
	url = https://github.com/tpope/vim-vividchalk.git
[submodule "janus/vim/colors/molokai"]
	path = janus/vim/colors/molokai
	url = https://github.com/vim-scripts/molokai.git
[submodule "janus/vim/colors/pyte"]
	path = janus/vim/colors/pyte
	url = https://github.com/vim-scripts/pyte.git
[submodule "janus/vim/colors/github"]
	path = janus/vim/colors/github
	url = https://github.com/telamon/vim-color-github.git
[submodule "janus/vim/colors/getafe"]
	path = janus/vim/colors/getafe
	url = https://github.com/larssmit/vim-getafe.git
[submodule "janus/vim/colors/janus-colors"]
	path = janus/vim/colors/janus-colors
	url = https://github.com/TechnoGate/janus-colors.git
[submodule "janus/vim/colors/vim-tomorrow-theme"]
	path = janus/vim/colors/vim-tomorrow-theme
	url = https://github.com/chriskempson/vim-tomorrow-theme.git
[submodule "janus/vim/colors/base16-vim"]
	path = janus/vim/colors/base16-vim
	url = https://github.com/chriskempson/base16-vim.git
[submodule "janus/vim/colors/darcula"]
	path = janus/vim/colors/darcula
	url = https://github.com/blueshirts/darcula

# Tools
[submodule "janus/vim/tools/vundle"]
	path = janus/vim/tools/vundle
	url = https://github.com/VundleVim/Vundle.vim.git
